<!DOCTYPE>
<html>

<head>
<title>
  Book Store
</title>
</head>

<body>

<div>

<button><a  href = {%url 'author'%} >Create Author</a>
</button> 

<button><a href = {%url 'genre'%}>Create Genre</button></a>
<button><a href = {%url 'book'%}>Create Book</button></a>

<ul>
<li><button><a href = {%url 'details_author'%}>Author Details</button></a></li>
<li><button><a href = {%url 'details_book'%}>Book Details</button></a></li>
<li><button><a href = {%url 'details_genre'%}>Genre Details</button></a></li>
{% comment %} <button><a href = {%url 'update'%}>Update Book</button></a> {% endcomment %}
</ul>
</div>
</book>
</html>