<!DOCTYPE>
<html>

<head>
<title>
  Book Store
</title>
</head>

<body>

<div>

<button><a  href = {%url 'author'%} >Create Author</a>
</button> 

<button><a href = {%url 'genre'%}>Create Genre</button></a>
<button><a href = {%url 'book'%}>Create Book</button></a>

<ul>
<li><button><a href = {%url 'details_author'%}>Author Details</button></a></li>
<li><button><a href = {%url 'details_book'%}>Book Details</button></a></li>
<li><button><a href = {%url 'details_genre'%}>Genre Details</button></a></li>

</ul>


<h1><button><a href = {%url 'customer'%}>Customer page</a></button></h1>
<h2><button><a href = {%url 'checkout_page'%}>Check out page</a></button></h2>
<h3><button><a href = {%url 'history'%}>History</a></button></h3>
</div>
</body>
</html>